*{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    margin:0px;
    padding:0px;
}

p{ 
    padding:10px;
}

.LogoCSS3 {
    position: absolute;
    top: 7%;
    width: 400x;
    left: 5%;
    height: 500px;
}

.titulo {
 top: 5%;
 right: 21%;
 color: seashell ;
 position: absolute;
 }

.encabezado {
    background: #005883;
    width: 100%;
    height: 200px;

}

.navegacion {
    position: absolute;
    left: 33%;
    top: 15%;
}

ul {
    list-style: none;
} 

.boton_menu > li{
    position: relative;
    display: inline-block;
}

.boton_menu > li > a {
    text-decoration: none;
    display: block;
    font-size: large;
    padding: 10px 30px;
    margin: 10px;
    color: seashell;
    border: #F0B429 solid 2px;
    background: #005883;
    border-top-right-radius: 10px;
}

.boton_menu li a:hover {
    color: #005883;
    border:#005883 solid 2px;
    background: #F0B429;
    transition: all .3s;
}

.sub_menu {
    position: absolute;
    width: 150%;
    height: 100%;
    visibility: hidden;
    margin: 0%;
    padding: 0%;
}

.sub_menu  li  a{
    border: #333333 solid 2px;
    color: #b3b3b3;
    background: #333333;
    font-size: large;
    text-decoration: none;
    padding: 3px 10px;
    display: block;
}

.boton_menu li:hover .sub_menu{
    visibility: visible;
    z-index: 99;   
}

article {
    left: 34%;
    width:48%; 
    position: absolute;
    display: inline-block;
}

input[name="tabla"] {
    position: absolute;
    left: -1000em;
}

label{ 
    border-top-right-radius: 10px;
	display:inline-block; 
	text-align:center; 
	width:110px; 
	height:50px; 
    padding:2px 0; 
	margin:0;  
	background-color:#ededed;
	position:relative;
    top:10%;
} 

div.cont{
    font-size: large;
    left: 5%; 
    float:left; 
    opacity:0; 
    display:none;
}    

input:checked+label{ 
    border-bottom:none; 
    background-color:white;

}

@keyframes cambiaTab {   
     0%   { opacity: 0;}   
     100% { opacity: 1;}  
  }
@-webkit-keyframes cambiaTab {   
     0%   { opacity: 0;}   
     100% { opacity: 1;}  
  }

input[value="1"]:checked ~ div.contenedor div.cont:nth-child(1),
input[value="2"]:checked ~ div.contenedor div.cont:nth-child(2),
input[value="3"]:checked ~ div.contenedor div.cont:nth-child(3){
	opacity:1;
	display:block;
	-webkit-animation-name: cambiaTab; 
	-webkit-animation-duration: 1s;
	animation-name: cambiaTab; 
	animation-duration: 1s;
	}

.clearfix{ 
    clear:both;
}

aside {
    width: 17%;
    position: absolute;
    right: 0%;
    height: 100px;
    top: 0%;

}

.twitter-timeline {
    position: absolute;
    margin: 0%;
    padding: 0%;
}

footer {
    background: #333333;
    width:100%; 
    height: 110px;
    position: absolute;
    bottom: 0%;
    display: inline-block;
    
}

.LogoUnad  {
    height: 110px;
    position: absolute;
    left: 36%;
}

.textofooter {
    color: #b3b3b3;
    position: absolute;
    left:46%;
    padding: 2%;
}

/* -------------------------  Paginas secundarias */

.titulo_sec {
    top: 3%;
    right: 9%;
    width: 750px;
    text-align: center;
    color: seashell ;
    position: absolute;
    border: 7px black; 
    }
   
.encabezado_sec {

    background: #005883;
    width: 100%;
    height: 140px;
   
}

.navegacion_sec {
    position: absolute;
    left: 35%;
    top: 10%;
}

.boton_menu_sec > li{
    position: relative;
    display: inline-block;
}

.boton_menu_sec > li > a {
    text-decoration: none;
    display: block;
    font-size: large;
    padding: 10px 30px;
    margin: 10px;
    color: seashell;
    border: #F0B429 solid 2px;
    background: #005883;
    border-top-right-radius: 10px;
}

.boton_menu_sec li a:hover {
    color: #005883;
    border:#005883 solid 2px;
    background: #F0B429;
    transition: all .3s;
}

.sub_menu_sec {
    position: absolute;
    width: 150%;
    height: 100%;
    visibility: hidden;
    margin: 0%;
    padding: 0%;
}

.sub_menu_sec  li  a{
    border: #333333 solid 2px;
    color: #b3b3b3;
    background: #333333;
    font-size: large;
    text-decoration: none;
    padding: 3px 10px;
    display: block;
}

.boton_menu_sec li:hover .sub_menu_sec{
    visibility: visible;
    z-index: 99;   
}

